<template>
    <div>
        <h3>Todo</h3>
        <div class="legend">
            <span>Doubel click to mark as complete </span>
            <span>
                <span class="incomplete-box"/> = Incomplete
            </span>
            <span>
                <span class="complete-box"/> = Complete
            </span>
        </div>
        <div class="todos">
            <div :key="todo.id" @dblclick="onDblClick(todo)" class="todo" v-for="todo in allTodos" v-bind:class="{'is-complete':todo.completed}">
                {{todo.title}}
                <i @click="deleteTodo(todo.id)" aria-hidden="true" class="fa fa-trash"/>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        name: "Todos",
        methods: {
            ...mapActions(['fetchTodos', 'deleteTodo', 'updateTodo']),
            onDblClick(todo) {
                const updTodo = {
                    id: todo.id,
                    title: todo.title,
                    complete: !todo.completed
                }
                this.updateTodo(updTodo);
            }
        },
        computed: mapGetters(['allTodos']),
        created() {
            this.fetchTodos();
        }
    }
</script>

<style scoped>
    .todos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
    .is-complete{
        background: #35495e;
        color: #ffffff;
    }
    .todo {
        border: 1px solid #ccc;
        background: #41b883;
        padding: 1rem;
        border-radius: 5px;
        text-align: center;
        position: relative;
        cursor: pointer;
    }

    i {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: #fff;
        cursor: pointer;
    }

    .complete-box {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #25495e;
    }

    .incomplete-box {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #41b883;
    }

    @media (max-width: 500px) {
        .todos {
            grid-template-columns: 1fr;
        }
    }
</style>